#container {
  width: 100%;
  background-color: #a8dadc;
}

h1 {
  font-size: 18pt;
  color: #a8dadc;
}

h3 {
  font-size: 12pt;
}

#top {
  width: auto;
  background-color: #1d3557;
  padding: 10px;
  border-color: #e63946;
  border-width: 3px;
  border-style: groove;
  border-bottom: none;
  color: #f1faee;
}

#logo {
  width: 20%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#title {
  width: 58%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

#unit {
  width: 20%;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.week {
  width: auto;
  background-color: #457b9d;
  text-align: center;
  color: #f1faee;
  border-color: #e63946;
  border-width: 3px;
  border-style: groove;
  border-bottom: none;
}

.day {
  width: 150px;
  height: auto;
  background-color: #f1faee;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  margin: 10px;
  color: #1d3557;
  border-color: #e63946;
  border-width: 3px;
  border-style: groove;
}
