#container {
  width: 100%;
  background-color: #a8dadc;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 18pt;
  color: #a8dadc;
}

h3 {
  font-size: 12pt;
}

#top {
  width: auto;
  background-color: #726c53;
  padding: 10px;
  border-color: #785b46;
  border-width: 3px;
  border-style: groove;
  border-bottom: none;
  color: #171302;
}

#logo {
  width: 20%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#title {
  width: 58%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

#unit {
  width: 20%;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.week {
  width: auto;
  background-color: #2d1b08;
  text-align: center;
  color: #bda48c;
  border-color: #bda48c;
  border-width: 3px;
  border-style: groove;
  border-bottom: none;
}

.day {
  width: 150px;
  height: auto;
  background-color: #beba9d;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  margin: 10px;
  color: #1d3557;
  border-color: #bda48c;
  border-width: 5px;
  border-style: groove;
  box-shadow: 10px 5px 5px #726c53;
}

.day a:link {
  color: #2d1b08;
}

.day a:visited {
  color: #785b46;
}

.day a:hover {
  color: #726c53;
}
